.button{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 8px 30px;
    color: #FFF;
    font-size: 14px;
    font-weight: 400;
    border-radius: 30px;
    background: #0575E6;
    border-style: none;
    transition: ease-out 300ms;
    text-decoration: none;
}

.button:hover{
    background-color: #0553A3;
    transition: ease-out 300ms;
} 

.leftContainer .button{
    width: fit-content;
}

.rightContainer .button{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 18px 26px;
    border-radius: 30px;
    background: #0575E6;  
    border-style: none;
    transition: ease-out 300ms;
    width: 100%;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #FFF;
}