*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scrollbar-width: thin;
  scrollbar-color: #cbd5e1;
  font-family: 'Poppins', sans-serif;
  color: #333;
}

#root{
  display: flex;
}

@media screen and (max-width: 767px) {
  #root{
    flex-direction: column;
}
}